-f https://download.pytorch.org/whl/torch_stable.html
pydub
librosa
numpy
inflect
Unidecode
Flask
Flask-SocketIO
matplotlib
soundfile
omegaconf
numba
webrtcvad
requests
torch
torchvision
torchaudio
tensorboard
llvmlite
pysrt
nltk
pytimeparse
itsdangerous
werkzeug
joblib
resampy
